<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<style>
body {
	margin: 0;
	padding: 0;
}

</style>

<title></title>
</head>
<body>
	<nav layout:fragment="header" style="margin: 0; padding: 0;">
		<div class="hov" style="display: flex; justify-content: space-between; background-color: #ffffff; margin: 0; padding: 0">
			<img alt="アイコン" src="https://www.pokemon.co.jp/ex/dungeonDX/t/images/icon/icon_psyduck.png" style="margin-left:10px; width: 80px" >
			
			<form th:action="@{/top}" method="get">
				<button style="font-size:20px; width: 150px; margin-top: 25px; border: none; background: transparent;">TOPページ</button>
			</form>
		</div>
	</nav>


</body>

</html>