<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.repository.MemberMapper">

	<!-- 1件登録 -->
	<insert id="insertOne">
		insert into members(
		member_id,
		name,
		email,
		phone_number,
		age,
		gender,
		password,
		authority
		)
		values(
		#{member_id},
		#{name},
		#{email},
		#{phone_number},
		#{age},
		#{gender},
		#{password},
		#{authority}
		)
	</insert>
	
	<!-- メンバー情報取得 -->
	<select id="findMember" resultType="com.example.model.Member">
		select * from members where member_id = #{member_id}
	</select>
	
	<!-- 個人情報更新 -->
	<update id="updateMember">
		update members set 
		name = #{member.name},
		email = #{member.email},
		phone_number = #{member.phone_number},
		age = #{member.age},
		gender = #{member.gender},
		password = #{member.password},
		authority = #{member.authority}
		where member_id = #{member.member_id}
	</update>
	
</mapper>