<?xml version="1.0" encoding="UTF-8"?>

<mapper namespace="com.example.repository.UserMapper">

	<!-- 1件登録 -->
	<insert id="insertOne">
		insert into member(
		member_id,
		name,
		email,
		phone_number,
		age,
		gender,
		password
		)
		values(
		#{member_id},
		#{name},
		#{email},
		#{phone_number},
		#{age},
		#{gender},
		#{password}
		)
	</insert>
</mapper>