<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>Top</h1>
	<form action="/reserve/new_reserve" method="get">
		<button>予約する</button>
	</form>
	
	<form action="/register/new_register" method="get">
		<button>新規登録</button>
	</form>
	
	<form action="/login_page/input_login" method="get">
		<button>ログイン　</button>
	</form>
	
	<form action="/reserve/new_reserve" method="get">
		<button>予約はこちらから　</button>
	</form>
</body>
</html>